name: pr-lint

on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened

jobs:
  validate-title:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - name: Generate token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf
        with:
          app-id: ${{ secrets.CLAUDE_APP_ID }}
          private-key: ${{ secrets.CLAUDE_PRIVATE_KEY }}

      - uses: amannn/action-semantic-pull-request@e49f57ce06c1747542fce2243c7a98682384bc0e
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
